body{
    background-image: url("img2.jpg");

    color: white;
    text-transform: none;
    letter-spacing: 3px;
    font-size: 17px;
    box-sizing: border-box;
    
}
    
nav li{
    font-size: 20px;
    width: 60px;
    display: inline;
    
    background-color: #SD4954;
    
}

x{
    font-size: 17px;
    width: 5px;
    display: flex;
}

y{
    font-size: 17px
    width 5px;
    display: flex;
}